<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  Document Title
  =============================================
  -->
  <title>Titan | Multipurpose HTML5 Template</title>
  <!--
  Favicons
  =============================================
  -->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!--
  Stylesheets
  =============================================

  -->
  <style>
    .parent{
      width: 90%;
      margin: 10px auto;
      display: flex;
    }

    .first {
      border: 1px solid red;
      flex:1;
      width:30%;
      box-sizing: border-box;
    }

    .second{
      border: 1px solid green;
      flex:1;
      margin: 0px 5%;
      width:30%;
      box-sizing: border-box;
    }

    .third{
      border: 1px solid blue;
      flex:1;
      width:30%;
      box-sizing: border-box;
    }
  </style>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
    window.onload=function (){
      getList(0)
    }

    function getList(p) {
      let HTML="";
      $.ajax({
        url: "/event/findevent?page="+p,
        type: 'get',
        dataType: "json",
        success: function (data) {
          // let str = JSON.stringify(data)
          // alert(str);
          $.each(data, function (i, item) {
            console.log(item.title);
            console.log(item.firstimage);
            HTML += "<div className=\"row multi-columns-row\" id=\"event\" style='margin-left: 10%'>"
            HTML += "<div className='col-12 col-md-4 p-5 mt-3' style=' width: 150px; height: 150px;'>"
            HTML += "<div className=\"shop-item\"><img src=\"" + item.firstimage + "\" alt=\"" + item.title + "\" width='100' height='100'/>"
            HTML += "</div>"
            HTML +=  "<h4 className=\"shop-item-title font-alt\"><a href=\"/event/eventpage2?title=" + item.title + "\">" + item.title + "</a></h4>"
            HTML +=  "</div>"
            HTML +=  "</div>";

          })
          paging(p)
          $("#event").html(HTML);
        },
        error: function () {
          alert('error');
        }
      })
    }
    function paging(p){
      $.ajax({
        url: "/event/paging?page=" + p,
        type: 'get',
        dataType: "json",
        success: function (data) {
          let pageHtml = "";
          var page = data.page;
          var size = data.size;
          var totalPage = data.total;
          var currentPage=null;
          if((totalPage%size)>0) {
            currentPage = totalPage / size + 1;
          }else {
            currentPage = totalPage / size;
          }
          console.log(page)
          console.log(size)
          console.log(totalPage)
          console.log(currentPage)
          if (page > 0) {
            pageHtml += "<li><a onclick='getList(" + (page-1) + ")' id='prev'> 이전 </a></li>";
          }

          //페이징 번호 표시
          for (var i = 1; i <= currentPage; i++) {
            if (currentPage == i) {
              pageHtml +=
                      "<li class='on'><a onclick='getList(" + (i-1) + ")' id='" + i + "'>" + i + "</a></li>";
            } else {
              pageHtml += "<li><a onclick='getList(" + (i-1) + ")' id='" + i + "'>" + i + "</a></li>";
            }
          }

          if (page < currentPage-2) {
            pageHtml += "<li><a onclick='getList(" + (page + 1) + ")' id='next'> 다음 </a></li>";
          }
          $("#pagingul").html(pageHtml);
        }
      })
    }
    window.addEventListener("load", function() {
      $(document).ready(function () {
        $("#btn-sc").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
          var title = document.getElementById("title").value
          var city = document.getElementById("city").value
          var category = document.getElementById("category").value
          location.href="/event/eventSearch?title="+title+"&city="+city+"&category="+category;
        })
      })
    });
  </script>
  <link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/templatemo.css">
  <link rel="stylesheet" href="/assets/css/custom.css">

  <!-- Load fonts style after rendering the layout styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <script src="/assets/js/jquery-1.11.0.min.js"></script>
  <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/templatemo.js"></script>
  <script src="/assets/js/custom.js"></script>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">

  <div th:fragment="headerFragment" class="header navbar-fixed-top">
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
      <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
          <div>
            <i class="fa fa-envelope mx-2"></i>
            <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
            <i class="fa fa-phone mx-2"></i>
            <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
          </div>
          <div>
            <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
            <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
            <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
            <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
      <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="/index">
          Zay
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
          <div class="flex-fill">
            <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
              <li class="nav-item">
                <a class="nav-link" href="/event/api_event">축제</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/event/event">사설 이벤트</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/event/event2">오프라인 이벤트</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/event/event3">온라인 이벤트</a>
              </li>
            </ul>
          </div>
          <div class="navbar align-self-center d-flex">
            <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
              <div class="input-group">
                <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                <div class="input-group-text">
                  <i class="fa fa-fw fa-search"></i>
                </div>
              </div>
            </div>
            <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
              <i class="fa fa-fw fa-search text-dark mr-2"></i>
            </a>
            <th:block th:if="${session.SS_USER_ID == null}">
              <a class="nav-icon position-relative text-decoration-none" href="/user/login">
                <i class="fa fa-fw fa-user text-dark mr-3"></i>
              </a>
            </th:block>
            <th:block th:if="${session.SS_USER_ID != null}">
              <a class="nav-icon position-relative text-decoration-none" href="/user/loginSuccess">
                <i class="fa fa-fw fa-user text-dark mr-3"></i>
              </a>
            </th:block>
            <th:block th:if="${session.SS_USER_ID == null}">
              <a class="nav-icon position-relative text-decoration-none" href="/user/login">
                <i class="fa fa-fw fa-user text-dark mr-3"></i>
              </a>
            </th:block>
            <th:block th:if="${session.SS_USER_ID != null && session.channel == null}">
              <a class="nav-icon position-relative text-decoration-none" href="/event/channel">
                <i class="fa fa-fw fa-user text-dark mr-3"></i>
              </a>
            </th:block>
            <th:block th:if="${session.SS_USER_ID != null && session.channel != null}">
              <a class="nav-icon position-relative text-decoration-none" href="/event/channelpage">
                <i class="fa fa-fw fa-user text-dark mr-3"></i>
              </a>
            </th:block>
          </div>
        </div>

      </div>
    </nav>
    <!-- Close Header -->
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="sc" method="post" class="modal-content modal-body border-0 p-0">
          <div class="input-group mb-2">
            <input type="text" class="form-control" id="title" name="title" placeholder="Search ...">
            <select name="category" id="category">
              <option value="선택안함" selected="selected">선택안함</option>
              <option value="오프라인">오프라인</option>
              <option value="온라인" >온라인</option>
            </select>
            <select name="city" id="city">
              <option value="선택안함" selected="selected">선택안함</option>
              <option value="서울시" >서울시</option>
              <option value="부산시" >부산시</option>
            </select>
            <button type="button" id="btn-sc" class="input-group-text bg-success text-light">
              <i class="fa fa-fw fa-search text-white"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <section class="container py-5">
    <div class="row text-center pt-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">사설 이벤트</h1>
      </div>
    </div>
    <div id="event" class="parent">
    </div>
    <div id="pagingul">

    </div>
  </section>
<!--
JavaScripts
=============================================
-->
  <div th:fragment="footerFragment" class="header navbar-fixed-top">


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
      <div class="container">


        <div class="row text-light mb-4">
          <div class="col-12 mb-3">
            <div class="w-100 my-3 border-top border-light"></div>
          </div>
          <div class="col-auto me-auto">
            <ul class="list-inline text-left footer-icons">
              <li class="list-inline-item border border-light rounded-circle text-center">
                <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
              </li>
              <li class="list-inline-item border border-light rounded-circle text-center">
                <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
              </li>
              <li class="list-inline-item border border-light rounded-circle text-center">
                <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
              </li>
              <li class="list-inline-item border border-light rounded-circle text-center">
                <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-auto">
            <label class="sr-only" for="subscribeEmail">Email address</label>
            <div class="input-group mb-2">
              <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
              <div class="input-group-text btn-success text-light">Subscribe</div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100 bg-black py-3">
        <div class="container">
          <div class="row pt-2">
            <div class="col-12">
              <p class="text-left text-light">
                Copyright &copy; 2021 Company Name
                | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </footer>
    <!-- End Footer -->
  </div>
</body>
</html>