<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zay Shop - Product Detail Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/templatemo.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css">
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        console.log("실행")
        var userId = "[[${session.SS_USER_ID}]]";
        console.log(userId);
        window.onload=function (){
            getCommentList()
            tag()
        }

        function tag() {
            console.log("태그 작동함")
            $.ajax({
                    url: "/event/tag?title=[[${title}]]",
                    type: "get",
                    dataType: "JSON",
                    success: function (data) { // 호출이 성공했다면..
                        const element = document.getElementById('tag');
                        $.each(data, function (i, item){
                            element.innerHTML += '<a href="/event/searchTag?tag='+item.name+'">#'+item.name+'</a>&nbsp';
                        })
                        console.log("태그2 동작함")

                    }
                }
            )
        }


        function getCommentList() {

            $.ajax({
                url: "/comment/list?title=[[${title}]]",
                type: 'get',
                dataType: "json",
                success: function (data) {
                    let html = "";
                    console.log(data);

                    if (data.length>0) {
                        $.each(data, function (i, item) {
                            console.log(item.parents)
                            if(item.parents==null) {
                                html += "<form id='" + item.id + "2' class='mb-2'>";
                                html += "<input type='hidden' id='id' name='id'" + item.id + "' value='" + item.id + "'>"
                                html += "<b id='commentWriter_' name='userid2'" + item.id + "'>" + item.userid + "</b>";
                                html += "<span style='float:right;' align='right' id='commentDate_" + item.id + "'> </span>";
                                html += "<div  id='" + item.id + "' class='mb-1 comment_container' >"
                                html += "<h5 id='commentText_' name='comment2'" + item.id + " style='display: inline'>" + item.comment + "</h5>";
                                html += "<button id='btnUp' onclick='reList(\"" + item.id + "\")' class='btn' type='button'>답글보기</button>";
                                if (item.userid == userId) {
                                    html += "<button id='btnUp' onclick='reComment(\"" + item.id + "\")' class='btn' type='button'>답글</button>";
                                    html += "<button id='btnUp' onclick='upComment(\"" + item.id + "\",\"" + item.comment + "\")' class='btn' type='button'>댓글 수정</button>";
                                    html += "<button id='btnDelete' onclick='del(\"" + item.id + "\")' class='btn' type='button'>댓글 삭제</button>";

                                }
                                html += "</div>";
                                html += "</form>";
                                html += "<div  id='" + item.id + "3' class='mb-1 comment_container' >"
                                html += "</div>";
                                html += "<div  id='" + item.id + "4' class='mb-1 comment_container' >"
                                html += "</div>";
                            }
                        });
                    } else {
                        html += "<div class='mb-2'>";
                        html += "<h6><strong>등록된 댓글이 없습니다.</strong></h6>";
                        html += "</div>";
                    }
                    $("#commentList").html(html);

                },
                error: function (request, status, error) {
                    alert("code: " + request.status + "\n" + "error: " + error);
                }
            });

        }
        function reList(id) {
            $.ajax({
                url: "/comment/reList?parents="+id,
                type: 'get',
                dataType: "json",
                success: function (data) {
                    let html = "";
                    var userId = document.getElementById("userId").value;
                    if (data.length>0) {
                        $.each(data, function (i, item) {
                                html += "<form id='" + item.id + "2' class='mb-2'>";
                                html += "<input type='hidden' id='id' name='id'" + item.id + "' value='" + item.id + "'>"
                                html += "<b id='commentWriter_' name='userid2'" + item.id + "'>" + item.userid + "</b>";
                                html += "<span style='float:right;' align='right' id='commentDate_" + item.id + "'> </span>";
                                html += "<div  id='" + item.id + "' class='mb-1 comment_container' >"
                                html += "<h5 id='commentText_' name='comment2'" + item.id + " style='display: inline'>" + item.comment + "</h5>";
                                html += "<button id='btnUp' onclick='reList(\"" + item.id + "\")' class='btn' type='button'>답글보기</button>";
                                if (item.userid == userId) {
                                    html += "<button id='btnUp' onclick='reComment(\"" + item.id + "\")' class='btn' type='button'>답글</button>";
                                    html += "<button id='btnUp' onclick='upComment(\"" + item.id + "\",\"" + item.comment + "\")' class='btn' type='button'>댓글 수정</button>";
                                    html += "<button id='btnDelete' onclick='del(\"" + item.id + "\")' class='btn' type='button'>댓글 삭제</button>";

                                }
                                html += "</div>";
                                html += "</form>";
                                html += "<div  id='" + item.id + "3' class='mb-1 comment_container' >"
                                html += "</div>";
                                html += "<div  id='" + item.id + "4' class='mb-1 comment_container' >"
                                html += "</div>";
                        });
                    } else {
                        html += "<div class='mb-2'>";
                        html += "<h6><strong>등록된 댓글이 없습니다.</strong></h6>";
                        html += "</div>";
                    }
                    $("#"+id+"4").html(html);

                },
                error: function (request, status, error) {
                    alert("code: " + request.status + "\n" + "error: " + error);
                }
            })
        }
        function reComment(id) { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#"+id+"3").html("<form id='"+id+"5'>"
                +"<input type='hidden' id='parents' name='parents' value='" + id + "'/>"
                +"<input id='commentText_'  name='comment'  style='display: inline'/>"
                +"<button id='btnUpdate' onclick='insert2(\""+id+"\")' class='btn' type='button'>답글달기</button>"
                +"<button id='btnCan' onclick='getCommentList()' class='btn' type='button'>취소</button>"
                +"</form>");


        }
        function upComment(id,comment) { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#"+id+"").html("<input id='commentText_' value='"+comment+"' name='comment2'  style='display: inline'/>"
                +"<button id='btnUpdate' onclick='update(\""+id+"\")' class='btn' type='button'>수정</button>"
                +"<button id='btnCan' onclick='getCommentList()' class='btn' type='button'>취소</button>");

        }
        function counter(){
            parent
        }
        function update(id) {
            console.log(id);
            $.ajax({
                    url: "/comment/update",
                    type: "post", // 전송방식은 Post
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                    data: $("#"+id+"2").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                    success: function (json) { // 호출이 성공했다면..
                        getCommentList()
                    }
                }
            )
        }
        function del(id) {
            $.ajax({
                    url: "/comment/delete",
                    type: "post", // 전송방식은 Post
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                    data: $("#"+id+"2").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                    success: function (json) { // 호출이 성공했다면..
                        getCommentList()
                    }
                }
            )
        }
        function insert2(id) {
            $.ajax({
                    url: "/comment/insert?title=[[${title}]]",
                    type: "post", // 전송방식은 Post
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                    data: $("#"+id+"5").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                    success: function (json) { // 호출이 성공했다면..
                        getCommentList()
                    }
                }
            )
        }
        $(document).ready(function () {

            let f = document.getElementById("f");
            let ud = document.getElementById("ud");
            $("#btnInsert").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                insert(f)
            })
            $("#btnJoin").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                Join()
            })
            $("#btnlike").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                like()
            })
            $("#btnhate").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                hate()
            })
            $("#btn-sc").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                var title = document.getElementById("title").value
                var city = document.getElementById("city").value
                var category = document.getElementById("category").value
                location.href="/event/eventSearch?title="+title+"&city="+city+"&category="+category;
            })
            function Join() {
                location.href="/event/eventJoin?title=[[${title}]]&price=[[${price}]]";
            }
            function insert(f) {
                $.ajax({
                        url: "/comment/insert?title=[[${title}]]",
                        type: "post", // 전송방식은 Post
                        dataType: "JSON", // 전송 결과는 JSON으로 받기
                        data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                        success: function (json) { // 호출이 성공했다면..
                            getCommentList()
                        }
                    }
                )
            }
            function like(f) {
                $.ajax({
                        url: "/event/like?title=[[${title}]]",
                        type: "post", // 전송방식은 Post
                        dataType: "JSON", // 전송 결과는 JSON으로 받기
                        data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                        success: function (data) { // 호출이 성공했다면..
                            console.log("good : "+data.good)
                            console.log("hate : "+data.hate)
                            $("#like").html(data.good)
                            $("#hate").html(data.hate)
                        }
                    }
                )
            }
            function hate(f) {
                $.ajax({
                        url: "/event/hate?title=[[${title}]]",
                        type: "post", // 전송방식은 Post
                        dataType: "JSON", // 전송 결과는 JSON으로 받기
                        data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                        success: function (data) { // 호출이 성공했다면..
                            console.log("good : "+data.good)
                            console.log("hate : "+data.hate)
                            $("#like").html(data.good)
                            $("#hate").html(data.hate)
                        }
                    }
                )
            }


        });
    </script>
</head>

<body>

<div th:fragment="headerFragment" class="header navbar-fixed-top">
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="/index">
                Zay
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/event/api_event">축제</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/event/event">사설 이벤트</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/event/event2">오프라인 이벤트</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/event/event3">온라인 이벤트</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>
                    <th:block th:if="${session.SS_USER_ID == null}">
                        <a class="nav-icon position-relative text-decoration-none" href="/user/login">
                            <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        </a>
                    </th:block>
                    <th:block th:if="${session.SS_USER_ID != null}">
                        <a class="nav-icon position-relative text-decoration-none" href="/user/loginSuccess">
                            <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        </a>
                    </th:block>
                    <th:block th:if="${session.SS_USER_ID == null}">
                        <a class="nav-icon position-relative text-decoration-none" href="/user/login">
                            <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        </a>
                    </th:block>
                    <th:block th:if="${session.SS_USER_ID != null && session.channel == null}">
                        <a class="nav-icon position-relative text-decoration-none" href="/event/channel">
                            <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        </a>
                    </th:block>
                    <th:block th:if="${session.SS_USER_ID != null && session.channel != null}">
                        <a class="nav-icon position-relative text-decoration-none" href="/event/channelpage">
                            <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        </a>
                    </th:block>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="sc" method="post" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Search ...">
                    <select name="category" id="category">
                        <option value="선택안함" selected="selected">선택안함</option>
                        <option value="오프라인">오프라인</option>
                        <option value="온라인" >온라인</option>
                    </select>
                    <select name="city" id="city">
                        <option value="선택안함" selected="selected">선택안함</option>
                        <option value="서울시" >서울시</option>
                        <option value="부산시" >부산시</option>
                    </select>
                    <button type="button" id="btn-sc" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" th:src="${image}" th:alt="${title}" id="product-detail">
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2" th:text="${title}"></h1>
                            <p class="h3 py-2" th:text="${addr}"></p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    이벤트 개요 <h6 th:text="${detail}"></h6>
                                    참가비 <h6 th:text="${price}"></h6>
                                    조회수 <h6 th:text="${readCnt}"></h6>
                                    태그   <h6 id="tag"></h6>
                                </li>
                            </ul>


                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="map" style="width:100%;height:350px;"></div>
    </section>
    <!-- Close Content -->

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1839fc9b43f7315a2fcb8f1944c7376a&libraries=services"></script>
    <script>
        var addr = '[[${addr}]]';
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(addr, function(result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:150px;text-align:center;padding:6px 0;">[[${title}]]</div>'
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });
    </script>
    <button id="btnJoin" class="btn" type="button">신청하기</button>
    <b id="like" th:text="${good}"></b>
    <button id="btnlike" class="btn" type="button">좋아요</button>
    <b id="hate" th:text="${hate}"></b>
    <button id="btnhate" class="btn" type="button">싫어요</button>
    <div>
        <form id="f" class="joinForm">
            <b id="userId" th:text="${session.SS_USER_ID}"/>
            <input type="text" id="comment" name="comment" placeholder="댓글">
            <button id="btnInsert" class="btn" type="button">댓글 등록</button>
        </form>
    </div>
    <div id="commentList">
    </div>
    <!-- Close Content -->


    <!-- Start Script -->
    <script src="/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/templatemo.js"></script>
    <script src="/assets/js/custom.js"></script>
    <!-- End Script -->

    <!-- Start Slider Script -->
    <script src="/assets/js/slick.min.js"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
            ]
        });
    </script>
    <!-- End Slider Script -->
<div th:fragment="footerFragment" class="header navbar-fixed-top">


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">


            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Company Name
                            | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->
</div>
</body>

</html>