<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
	<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">

		// HTML로딩이 완료되고, 실행됨
		$(document).ready(function () {

			// 회원가입
			$("#btnUserReg").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
				location.href = "/user/userRegForm";
			})
			// 아이디 찾기
			$("#btnIdFind").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
				location.href = "/user/idFind";
			})
			// 비밀번호 찾기
			$("#btnPwFind").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
				location.href = "/user/pwFind";
			})
			$("#btn-sc").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
				var title = document.getElementById("title").value
				var city = document.getElementById("city").value
				var category = document.getElementById("category").value
				location.href="/event/eventSearch?title="+title+"&city="+city+"&category="+category;
			})

			// 로그인
			$("#btnLogin").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
				let f = document.getElementById("f"); // form 태그

				if (f.user_id.value === "") {
					alert("아이디를 입력하세요.");
					f.user_id.focus();
					return;
				}
				if (f.password.value === "") {
					alert("비밀번호를 입력하세요.");
					f.password.focus();
					return;
				}
				// Ajax 호출해서 로그인하기
				$.ajax({
							url: "/user/loginProc",
							type: "post", // 전송방식은 Post
							dataType: "JSON", // 전송 결과는 JSON으로 받기
							data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
							success: function (json) {
								if (json.result === 1) { // 로그인 성공
									alert(json.msg); // 메시지 띄우기
									location.href = "/index"; // 로그인 성공 화면으로 이동

								} else { // 로그인 실패
									alert(json.msg); // 메시지 띄우기
									$("#user_id").focus(); // 아이디 입력 항목에 마우스 커서 이동
								}
							}
				})
			})
		})
	</script>
	<link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/templatemo.css">
	<link rel="stylesheet" href="/assets/css/custom.css">

	<!-- Load fonts style after rendering the layout styles -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
	<link rel="stylesheet" href="/assets/css/fontawesome.min.css">
	<script src="/assets/js/jquery-1.11.0.min.js"></script>
	<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/templatemo.js"></script>
	<script src="/assets/js/custom.js"></script>
</head>

<body>

<div th:fragment="headerFragment" class="header navbar-fixed-top">
	<!-- Start Top Nav -->
	<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
		<div class="container text-light">
			<div class="w-100 d-flex justify-content-between">
				<div>
					<i class="fa fa-envelope mx-2"></i>
					<a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
					<i class="fa fa-phone mx-2"></i>
					<a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
				</div>
				<div>
					<a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
					<a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
					<a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
					<a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
				</div>
			</div>
		</div>
	</nav>
	<!-- Close Top Nav -->


	<!-- Header -->
	<nav class="navbar navbar-expand-lg navbar-light shadow">
		<div class="container d-flex justify-content-between align-items-center">

			<a class="navbar-brand text-success logo h1 align-self-center" href="/index">
				Zay
			</a>

			<button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
				<div class="flex-fill">
					<ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
						<li class="nav-item">
							<a class="nav-link" href="/event/api_event">축제</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/event/event">사설 이벤트</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/event/event2">오프라인 이벤트</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/event/event3">온라인 이벤트</a>
						</li>
					</ul>
				</div>
				<div class="navbar align-self-center d-flex">
					<div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
						<div class="input-group">
							<input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
							<div class="input-group-text">
								<i class="fa fa-fw fa-search"></i>
							</div>
						</div>
					</div>
					<a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
						<i class="fa fa-fw fa-search text-dark mr-2"></i>
					</a>
					<th:block th:if="${session.SS_USER_ID == null}">
						<a class="nav-icon position-relative text-decoration-none" href="/user/login">
							<i class="fa fa-fw fa-user text-dark mr-3"></i>
						</a>
					</th:block>
					<th:block th:if="${session.SS_USER_ID != null}">
						<a class="nav-icon position-relative text-decoration-none" href="/user/loginSuccess">
							<i class="fa fa-fw fa-user text-dark mr-3"></i>
						</a>
					</th:block>
					<th:block th:if="${session.SS_USER_ID == null}">
						<a class="nav-icon position-relative text-decoration-none" href="/user/login">
							<i class="fa fa-fw fa-user text-dark mr-3"></i>
						</a>
					</th:block>
					<th:block th:if="${session.SS_USER_ID != null && session.channel == null}">
						<a class="nav-icon position-relative text-decoration-none" href="/event/channel">
							<i class="fa fa-fw fa-user text-dark mr-3"></i>
						</a>
					</th:block>
					<th:block th:if="${session.SS_USER_ID != null && session.channel != null}">
						<a class="nav-icon position-relative text-decoration-none" href="/event/channelpage">
							<i class="fa fa-fw fa-user text-dark mr-3"></i>
						</a>
					</th:block>
				</div>
			</div>

		</div>
	</nav>
	<!-- Close Header -->
	<!-- Modal -->
	<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="w-100 pt-1 mb-5 text-right">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="sc" method="post" class="modal-content modal-body border-0 p-0">
				<div class="input-group mb-2">
					<input type="text" class="form-control" id="title" name="title" placeholder="Search ...">
					<select name="category" id="category">
						<option value="선택안함" selected="selected">선택안함</option>
						<option value="오프라인" >오프라인</option>
						<option value="온라인" >온라인</option>
					</select>
					<select name="city" id="city">
						<option value="선택안함" selected="selected">선택안함</option>
						<option value="서울시" >서울시</option>
						<option value="부산시" >부산시</option>
					</select>
					<button type="button" id="btn-sc" class="input-group-text bg-success text-light">
						<i class="fa fa-fw fa-search text-white"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" id="f">
					<span class="login100-form-title p-b-26">
						Welcome
					</span>
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="user_id" id="user_id">
						<span class="focus-input100" data-placeholder="아이디"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password" id="password">
						<span class="focus-input100" data-placeholder="비밀번호"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="button" id="btnLogin">
								Login
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<a class="txt2" href="#" id="btnIdFind">
							아이디 찾기
						</a>
						/
						<a class="txt2" href="#" id="btnPwFind">
							비밀번호 찾기
						</a><br>
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="#" id="btnUserReg">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	

	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>
<div th:fragment="footerFragment" class="header navbar-fixed-top">


	<!-- Start Footer -->
	<footer class="bg-dark" id="tempaltemo_footer">
		<div class="container">


			<div class="row text-light mb-4">
				<div class="col-12 mb-3">
					<div class="w-100 my-3 border-top border-light"></div>
				</div>
				<div class="col-auto me-auto">
					<ul class="list-inline text-left footer-icons">
						<li class="list-inline-item border border-light rounded-circle text-center">
							<a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
						</li>
						<li class="list-inline-item border border-light rounded-circle text-center">
							<a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
						</li>
						<li class="list-inline-item border border-light rounded-circle text-center">
							<a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
						</li>
						<li class="list-inline-item border border-light rounded-circle text-center">
							<a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-auto">
					<label class="sr-only" for="subscribeEmail">Email address</label>
					<div class="input-group mb-2">
						<input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
						<div class="input-group-text btn-success text-light">Subscribe</div>
					</div>
				</div>
			</div>
		</div>

		<div class="w-100 bg-black py-3">
			<div class="container">
				<div class="row pt-2">
					<div class="col-12">
						<p class="text-left text-light">
							Copyright &copy; 2021 Company Name
							| Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->
</div>
</body>
</html>