<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>RegForm</title>
  <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/css/userform.css">
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">

    // 아이디 중복체크여부 (중복 Y / 중복아님 : N)
    let userIdCheck = "Y";
    var code = "";

    // HTML로딩이 완료되고, 실행됨
    $(document).ready(function () {
      let f = document.getElementById("f"); // form 태그

      // 아이디 중복체크
      $("#btnUserId").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
        userIdExists(f)
      })
      // 인증 번호 받기
      $("#btnEmail").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
        userEmailNumber(f)
      })

      $("#btn-sc").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
        var title = document.getElementById("title").value
        var city = document.getElementById("city").value
        var category = document.getElementById("category").value
        location.href="/event/eventSearch?title="+title+"&city="+city+"&category="+category;
      })

      // 회원가입
      $("#btnSend").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
        doSubmit(f);
      })
      $("#btnEmail2").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
        console.log(f.email_number.value)
        console.log(code)
        if(f.email_number.value == code){
          alert("인증번호가 일치합니다.");
          const target = document.getElementById('btnSend');
          target.disabled = false;
        }else{
          alert("인증번호가 일치하지 않습니다. 확인해주시기 바랍니다.");
          $("#email_number").attr("autofocus",true);
        }
      })
    })

    // 회원아이디 중복 체크
    function userIdExists(f) {
      if (f.userId.value === "") {
        alert("아이디를 입력하세요.");
        f.userId.focus();
        return;
      }
      // Ajax 호출해서 회원가입하기
      $.ajax({
                url: "/user/getUserIdExists",
                type: "post", // 전송방식은 Post
                dataType: "JSON", // 전송 결과는 JSON으로 받기
                data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                success: function (json) { // 호출이 성공했다면..
                  if (json.existsYn === "Y") {
                    alert("이미 가입된 아이디가 존재합니다.");
                    f.userId.focus();
                  } else { // 회원가입 실패
                    alert("가입 가능한 아이디입니다.");
                    userIdCheck = "N";
                  }
                }
              }
      )
    }

    // 회원아이디 중복 체크
    function userEmailNumber(f) {
      if (f.email.value === "") {
        alert("이메일을 입력하세요.");
        f.email.focus();
        return;
      }
      var sm_email = f.email.value;
      $.ajax({
        type:"GET",
        url:"/user/mailCheck?sm_email=" + sm_email,
        cache : false,
        success:function(data){
          if(data == "error"){
            alert("이메일 주소가 올바르지 않습니다. 유효한 이메일 주소를 입력해주세요.");
            f.email.focus();
          }else{
            alert("인증번호 발송이 완료되었습니다.\n입력한 이메일에서 인증번호 확인을 해주십시오.");
            code = data;
          }
        }
      });
    }

    //회원가입 정보의 유효성 체크하기
    function doSubmit(f) {
      if (f.userId.value === "") {
        alert("아이디를 입력하세요.");
        f.userId.focus();
        return;
      }
      if (userIdCheck !== "N") {
        alert("아이디 중복 체크 및 중복되지 않은 아이디로 가입 바랍니다.");
        f.userId.focus();
        return;
      }
      if (f.password.value === "") {
        alert("비밀번호를 입력하세요.");
        f.password.focus();
        return;
      }
      if (f.password2.value === "") {
        alert("비밀번호확인을 입력하세요.");
        f.password2.focus();
        return;
      }
      if (f.password.value !== f.password2.value) {
        alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
        f.password.focus();
        return;
      }
      if (f.email.value === "") {
        alert("이메일을 입력하세요.");
        f.email.focus();
        return;
      }
      if (f.userName.value === "") {
        alert("이름을 입력하세요.");
        f.userName.focus();
        return;
      }
      if (f.cellphoneNo.value === "") {
        alert("핸드폰번호를 입력하세요.");
        f.cellphoneNo.focus();
        return;
      }
      // Ajax 호출해서 회원가입하기
      $.ajax({
                url: "/user/insertUserInfo",
                type: "post", // 전송방식은 Post
                dataType: "JSON", // 전송 결과는 JSON으로 받기
                data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                success: function (json) { // /user/insertUserInfo 호출이 성공했다면..
                  if (json.result === 1) { // 회원가입 성공
                    alert(json.msg); // 메시지 띄우기
                    location.href = "/user/login"; // 로그인 페이지 이동
                  } else { // 회원가입 실패
                    alert(json.msg); // 메시지 띄우기
                  }
                }
              }
      )
    }
  </script>
  <link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/templatemo.css">
  <link rel="stylesheet" href="/assets/css/custom.css">

  <!-- Load fonts style after rendering the layout styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <script src="/assets/js/jquery-1.11.0.min.js"></script>
  <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/templatemo.js"></script>
  <script src="/assets/js/custom.js"></script>
</head>
<body>
<div th:fragment="headerFragment" class="header navbar-fixed-top">
  <!-- Start Top Nav -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
      <div class="w-100 d-flex justify-content-between">
        <div>
          <i class="fa fa-envelope mx-2"></i>
          <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
          <i class="fa fa-phone mx-2"></i>
          <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
        </div>
        <div>
          <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Close Top Nav -->


  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

      <a class="navbar-brand text-success logo h1 align-self-center" href="/index">
        Zay
      </a>

      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
        <div class="flex-fill">
          <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="/event/api_event">축제</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/event/event">사설 이벤트</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/event/event2">오프라인 이벤트</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/event/event3">온라인 이벤트</a>
            </li>
          </ul>
        </div>
        <div class="navbar align-self-center d-flex">
          <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
            <div class="input-group">
              <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
              <div class="input-group-text">
                <i class="fa fa-fw fa-search"></i>
              </div>
            </div>
          </div>
          <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
            <i class="fa fa-fw fa-search text-dark mr-2"></i>
          </a>
          <th:block th:if="${session.SS_USER_ID == null}">
            <a class="nav-icon position-relative text-decoration-none" href="/user/login">
              <i class="fa fa-fw fa-user text-dark mr-3"></i>
            </a>
          </th:block>
          <th:block th:if="${session.SS_USER_ID != null}">
            <a class="nav-icon position-relative text-decoration-none" href="/user/loginSuccess">
              <i class="fa fa-fw fa-user text-dark mr-3"></i>
            </a>
          </th:block>
          <th:block th:if="${session.SS_USER_ID == null}">
            <a class="nav-icon position-relative text-decoration-none" href="/user/login">
              <i class="fa fa-fw fa-user text-dark mr-3"></i>
            </a>
          </th:block>
          <th:block th:if="${session.SS_USER_ID != null && session.channel == null}">
            <a class="nav-icon position-relative text-decoration-none" href="/event/channel">
              <i class="fa fa-fw fa-user text-dark mr-3"></i>
            </a>
          </th:block>
          <th:block th:if="${session.SS_USER_ID != null && session.channel != null}">
            <a class="nav-icon position-relative text-decoration-none" href="/event/channelpage">
              <i class="fa fa-fw fa-user text-dark mr-3"></i>
            </a>
          </th:block>
        </div>
      </div>

    </div>
  </nav>
  <!-- Close Header -->
  <!-- Modal -->
  <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="w-100 pt-1 mb-5 text-right">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="sc" method="post" class="modal-content modal-body border-0 p-0">
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="title" name="title" placeholder="Search ...">
          <select name="category" id="category">
            <option value="선택안함" selected="selected">선택안함</option>
            <option value="오프라인" >오프라인</option>
            <option value="온라인" >온라인</option>
          </select>
          <select name="city" id="city">
            <option value="선택안함" selected="selected">선택안함</option>
            <option value="서울시" >서울시</option>
            <option value="부산시" >부산시</option>
          </select>
          <button type="button" id="btn-sc" class="input-group-text bg-success text-light">
            <i class="fa fa-fw fa-search text-white"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
      <form id="f" class="joinForm">

        <h2>회원가입</h2>
        <div class="textForm">
          <input name="userId" type="text" class="email" placeholder="아이디">
        </div>
        <button class="btn" id="btnUserId" type="button">아이디 중복체크</button>
        <div class="textForm">
          <input name="password" type="password" class="pw" placeholder="비밀번호">
        </div>
        <div class="textForm">
          <input name="password2" type="password" class="pw" placeholder="비밀번호 확인">
        </div>
        <div class="textForm">
          <input name="email" type="text" class="email" placeholder="이메일">
        </div>
        <button class="btn" id="btnEmail" type="button">인증 번호 받기</button>
        <div class="textForm">
          <input name="email_number" type="text" class="email" placeholder="인증번호">
        </div>
        <button class="btn" id="btnEmail2" type="button">이메일 인증</button>
        <div class="textForm">
          <input name="userName" type="text" class="name" placeholder="이름">
        </div>
        <div class="textForm">
          <input name="cellphoneNo" type="number" class="cellphoneNo" placeholder="전화번호">
        </div>
        <input type="button" id="btnSend" class="btn" value="회 원 가 입"/>
      </form>

</body>
</html>