
<!DOCTYPE html>
 <html lang="ko">

<head>
    <title>Zay Shop eCommerce HTML CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
<!--

TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
    <style>
        .parent{
            width: 90%;
            margin: 10px auto;
            display: flex;
        }

        .first {
            border: 1px solid red;
            flex:1;
            width:30%;
            box-sizing: border-box;
        }

        .second{
            border: 1px solid green;
            flex:1;
            margin: 0px 5%;
            width:30%;
            box-sizing: border-box;
        }

        .third{
            border: 1px solid blue;
            flex:1;
            width:30%;
            box-sizing: border-box;
        }
    </style>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1839fc9b43f7315a2fcb8f1944c7376a&libraries=services"></script>
    <script type="text/javascript">
        var lat,lon;
        var lat2,lon2;
        window.addEventListener("load", function() {
            $(document).ready(function () {
                getApiEvent()
                getEvent()
                weather()
                $("#btn-sc").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                    var title = document.getElementById("title").value
                    var city = document.getElementById("city").value
                    var category = document.getElementById("category").value
                    location.href="/event/eventSearch?title="+title+"&city="+city+"&category="+category;
                })
            })
        })

        function weather() {
            lat=Math.round(lat)
            lon=Math.round(lon)
            $.ajax({
                url : "/weather?x="+lat+"&y="+lon,
                type : 'get',
                dataType : "json",
                success : function(data) {
                    var out = document.getElementById("weather");
                    $.each(data, function (i, item) {
                        console.log(item.category)
                        console.log(item.fcstValue)
                        if (item.category=="POP"){
                            out.innerHTML += "<h5 className='text-center mt-3 mb-3'>오늘은 비올확률이"+item.fcstValue+"%입니다</h5>"

                        }
                    })
                }



            });
        }
        function getApiEvent(){
            $.ajax({
                url: "/api",
                type: 'get',
                dataType: "json",
                success: function (data) {
                    // let str = JSON.stringify(data)
                    // alert(str);
                    var out = document.getElementById("api");
                    $.each(data, function (i, item) {
                        // console.log(item.title);
                        // console.log(item.firstimage);
                        out.innerHTML += "<div className='col-12 col-md-4 p-5 mt-3' style=' margin-left: 10%;'>"
                           + "<a href=\"/event/eventpage?title="+item.title+"\"><img src='"+item.firstimage+"' className='rounded-circle img-fluid border' width='100' height='100'></a>"
                            +"<h5 className='text-center mt-3 mb-3'>"+item.title+"</h5>"
                        +"</div>"
                        if(i==4){
                            return false;
                        }
                    })
                    $.each(data, function (i, item) {
                        var addr = item.addr;
                        // 주소-좌표 변환 객체를 생성합니다
                        var geocoder = new kakao.maps.services.Geocoder();

                        // 주소로 좌표를 검색합니다
                        geocoder.addressSearch(addr, function(result, status) {

                            // 정상적으로 검색이 완료됐으면
                            if (status === kakao.maps.services.Status.OK) {

                                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                                // 결과값으로 받은 위치를 마커로 표시합니다
                                var marker = new kakao.maps.Marker({
                                    map: map,
                                    position: coords
                                });

                                // 인포윈도우로 장소에 대한 설명을 표시합니다
                                var infowindow = new kakao.maps.InfoWindow({
                                    content: '<div style="width:150px;text-align:center;padding:6px 0;">'+item.title+'</div>'
                                });
                                infowindow.open(map, marker);

                                var locPosition = new kakao.maps.LatLng(lat2, lon2)
                                map.setCenter(locPosition);

                            }
                        });
                    })
                },
                error: function () {
                    alert('error');
                }
            })
        }
        function getEvent(){
            $.ajax({
                url: "/event/findevent",
                type: 'get',
                dataType: "json",
                success: function (data) {
                    // let str = JSON.stringify(data)
                    // alert(str);
                    var out = document.getElementById("event");
                    $.each(data, function (i, item) {
                        // console.log(item.title);
                        // console.log(item.firstimage);
                        out.innerHTML += "<div className='col-12 col-md-4 p-5 mt-3' style='margin-left: 10%;'>"
                            +"<div className='card h-100'>"
                                +"<a href=\"/event/eventpage2?title="+item.title+"\">"
                                    +"<img src=\""+item.firstimage+"\" className='card-img-top' width='100' height='100' alt='...'>"
                               + "</a>"
                                +"<div className='card-body'>"
                                    +"<ul className='list-unstyled d-flex justify-content-between'>"

                                        +"<li className='text-muted text-right'>참가비 : "+item.price+"원</li>"
                                    +"</ul>"
                                    +"<a href=\"/event/eventpage2?title="+item.title+"\" className='h2 text-decoration-none text-dark'>"+item.title+"</a>"
                                    +"</div>"
                            +"</div>"
                        +"</div>"

                        if(i==4){
                            return false;
                        }
                    })
                    $.each(data, function (i, item) {
                        var addr = item.addr;
                        // 주소-좌표 변환 객체를 생성합니다
                        var geocoder = new kakao.maps.services.Geocoder();

                        // 주소로 좌표를 검색합니다
                        geocoder.addressSearch(addr, function(result, status) {

                            // 정상적으로 검색이 완료됐으면
                            if (status === kakao.maps.services.Status.OK) {

                                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                                // 결과값으로 받은 위치를 마커로 표시합니다
                                var marker = new kakao.maps.Marker({
                                    map: map,
                                    position: coords
                                });

                                // 인포윈도우로 장소에 대한 설명을 표시합니다
                                var infowindow = new kakao.maps.InfoWindow({
                                    content: '<div style="width:150px;text-align:center;padding:6px 0;">'+item.title+'</div>'
                                });
                                infowindow.open(map, marker);
                            }
                        });
                    })
                },
                error: function () {
                    alert('error');
                }
            })
        }
    </script>
</head>
<body>


    <div th:fragment="headerFragment" class="header navbar-fixed-top">
        <!-- Start Top Nav -->
        <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
            <div class="container text-light">
                <div class="w-100 d-flex justify-content-between">
                    <div>
                        <i class="fa fa-envelope mx-2"></i>
                        <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                        <i class="fa fa-phone mx-2"></i>
                        <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                    </div>
                    <div>
                        <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                        <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                        <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                        <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Close Top Nav -->


        <!-- Header -->
        <nav class="navbar navbar-expand-lg navbar-light shadow">
            <div class="container d-flex justify-content-between align-items-center">

                <a class="navbar-brand text-success logo h1 align-self-center" href="/index">
                    Zay
                </a>

                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                    <div class="flex-fill">
                        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/event/api_event">축제</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/event/event">사설 이벤트</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/event/event2">오프라인 이벤트</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/event/event3">온라인 이벤트</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar align-self-center d-flex">
                        <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                                <div class="input-group-text">
                                    <i class="fa fa-fw fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                            <i class="fa fa-fw fa-search text-dark mr-2"></i>
                        </a>
                        <th:block th:if="${session.SS_USER_ID == null}">
                        <a class="nav-icon position-relative text-decoration-none" href="/user/login">
                            <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        </a>
                        </th:block>
                        <th:block th:if="${session.SS_USER_ID != null}">
                        <a class="nav-icon position-relative text-decoration-none" href="/user/loginSuccess">
                            <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        </a>
                        </th:block>
                        <th:block th:if="${session.SS_USER_ID == null}">
                            <a class="nav-icon position-relative text-decoration-none" href="/user/login">
                                <i class="fa fa-fw fa-user text-dark mr-3"></i>
                            </a>
                        </th:block>
                        <th:block th:if="${session.SS_USER_ID != null && session.channel == null}">
                            <a class="nav-icon position-relative text-decoration-none" href="/event/channel">
                                <i class="fa fa-fw fa-user text-dark mr-3"></i>
                            </a>
                        </th:block>
                        <th:block th:if="${session.SS_USER_ID != null && session.channel != null}">
                            <a class="nav-icon position-relative text-decoration-none" href="/event/channelpage">
                                <i class="fa fa-fw fa-user text-dark mr-3"></i>
                            </a>
                        </th:block>
                    </div>
                </div>

            </div>
        </nav>
        <!-- Close Header -->
        <!-- Modal -->
        <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="w-100 pt-1 mb-5 text-right">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="sc" method="post" class="modal-content modal-body border-0 p-0">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Search ...">
                        <select name="category" id="category">
                            <option value="선택안함" selected="selected">선택안함</option>
                            <option value="오프라인" >오프라인</option>
                            <option value="온라인" >온라인</option>
                        </select>
                        <select name="city" id="city">
                            <option value="선택안함" selected="selected">선택안함</option>
                            <option value="서울시" >서울시</option>
                            <option value="부산시" >부산시</option>
                        </select>
                        <button type="button" id="btn-sc" class="input-group-text bg-success text-light">
                            <i class="fa fa-fw fa-search text-white"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="map" style="width:100%;height:350px;"></div>
    <div id="weather"></div>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 7 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
        if (navigator.geolocation) {

            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {

                lat = position.coords.latitude // 위도
                lon = position.coords.longitude; // 경도
                lat2 = position.coords.latitude // 위도
                lon2 = position.coords.longitude; // 경도

                var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                    message = '<div style="padding:5px;">내 위치</div>'; // 인포윈도우에 표시될 내용입니다

                // 마커와 인포윈도우를 표시합니다
                displayMarker(locPosition, message);

            });

        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
                message = 'geolocation을 사용할수 없어요..'

            displayMarker(locPosition, message);
        }

        // 지도에 마커와 인포윈도우를 표시하는 함수입니다
        function displayMarker(locPosition, message) {

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: locPosition
            });

            var iwContent = message, // 인포윈도우에 표시할 내용
                iwRemoveable = true;

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
            });

            // 인포윈도우를 마커위에 표시합니다
            infowindow.open(map, marker);


        }
    </script>


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">축 제</h1>
            </div>
        </div>
        <div id="api" class="parent">
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">사설 이벤트</h1>
                </div>
            </div>
            <div id="event" class="parent">
            </div>
        </div>
    </section>
    <!-- End Featured Product -->

<div th:fragment="footerFragment" class="header navbar-fixed-top">


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">


            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Company Name
                            | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->
</div>

    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->

</body>
</html>
